.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  margin-left: -5px;
}

.WeatherForecast img {
  margin-top: 2px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
